@font-face {
  font-family: 'Main';
  src: url('../assets/fonts/Michroma-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Secondary';
  src: url('../assets/fonts/Ligconsolata-Regular.ttf') format('truetype');
}
