@use "./nav-var";
@use "../../helpers.scss";
@use "../../fonts";

$nav-gaps: 1rem;

@mixin nav-size {
  height: nav-var.$nav-height-desktop;

  @include helpers.tablet-size {
    height: nav-var.$nav-height-tablet;
  }

  @include helpers.phone-size {
    height: nav-var.$nav-height-phone;
  }
}

nav {
  position: fixed;
  width: calc(100% - helpers.$global-margin * 2);

  @include helpers.center-children;
  @include nav-size;

  & > * {
    @include helpers.center-children;
    gap: $nav-gaps;
  }
}

nav {
  justify-content: space-between;
}

.space-nav {
  width: 100%;

  @include nav-size;
}

li {
  @include helpers.center-children;
}

a {
  font-family: "Secondary";
  font-size: helpers.$small-font;
}
